header {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px 15px;
  color: #fff;
  display: block;
}

nav ul li a:hover {
  background-color: #fff;
  color: #333;
  border-color: #333;
  text-decoration: none;
}

.form-group, label, .form-control {
  margin-bottom: 0;
}

.form-control {
  margin-bottom: 6px;
}

.border-box {
  position: relative;
  border: 1px solid #ccc;
  padding: 32px 8px 8px 8px;
  border-radius: 6px;
}

.border-box-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 8px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
}

.view-height {
  height: 100vh;
}

.vertical-middle {
  top: 50%;
  transform: translateY(-50%);
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.btn-primary.small {
  padding: 1px 4px;
  font-size: 0.9em;
  border-radius: 2px;
}

.btn-primary:disabled {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.btn-primary:hover {
  background-color: #fff;
  color: #333;
  border-color: #333;
}

.full-width {
  width: 100%;
}

.margin-top-default {
  margin-top: 6px;
}

.margin-bottom-default {
  margin-bottom: 6px;
}

.margin-right-default {
  margin-right: 4px;
}

.btn.large {
  padding: 50px 50px;
}

.pagination-row .pagination-pages-container {
  padding: 12px 12px;
  border: 1px solid #ccc;
}

.pagination-row .pagination-page {
  margin-right: 4px;
}

.pagination-row .pagination-page:last-child {
  margin-right: 0;
}

.pagination-row select {
  width: auto;
  display: inline-block;
  margin: 0;
  height: auto;
  padding: 0;
  margin-left: 4px;
}

.error {
  color: #FF0000;
}

.form-control.error {
  box-shadow: 1px 1px 4px rgba(255, 0, 0, .4);
}

.form-control.error:focus {
  color: #FF0000;
}

.text-bold {
  font-weight: bold;
}

.table-header-container{
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

.table-header-row > div {
  cursor: pointer;
}