/.env
/docker-compose.prod.yml
/src/*/node_modules/
/src/translator/config/database.json
/src/translator/config/config.json
/src/backend/config/database.json
/src/backend/config/mailer.json
/src/backend/middleware/access.js
/src/backend/middleware/json.js
/src/backend/config/mailer.json
/src/backend/public/admin/*
/src/frontend/src/Config/appConfig.json
/src/frontend_parser/src/Config/appConfig.json
/src/parser/config/database.json
/src/parser/config/email.json
/src/parser/config/accounts.json
/src/parser/config/mailer.json
/src/parser/middleware/access.js
/src/parser/middleware/json.js
/src/parser/public/admin/*
/src/mongodb/scripts/add_user.js
/mongodb
/certs/*
/src/mysql-8.0/scripts/Mamut_2_Dump20220112.sql
