.operator-header {
    display: block;
    border-bottom: 1px solid #212529;
}

.active-task {
    position: relative;
    background-color: #dedede;
    padding: 6px 10px;
    margin-top: 3px;
    border-radius:8px;
}

.active-task:nth-child(2n) {
    background-color: #eee;
}

.active-task:first-child {
    margin-top: 6px;
}

.task-count {
    margin-left: 8px;
}

.top-right.takeover-button {
    top: 5px;
    right: 5px;
}

.icon-center.takeover {
    left: 52%;
    font-size: 0.8em;
}

.btn.task-takeover {
    background-color: rgb(0, 146, 0);
    border: 1px solid rgb(0, 146, 0);
}

.btn.task-takeover:hover {
    color: rgb(0, 146, 0);
    background-color: #FFF;
    border-color: rgb(0, 146, 0);
}

.mamut-modal.takeover-modal {
    z-index: 10000
}