{
    "URLs": {
        "domain": "/api",
        "login": "operators/login",
        "clients": "clients",
        "tasks": "tasks",
        "operators": "operators",
        "representatives": "representatives",
        "services": "services",
        "representatives_clients": "representatives_clients",
        "appendices": "appendices",
        "tags": "tags",
        "notes": "notes"
    },
    "cookies": {
        "auth": {
            "name": "mamut_app_auth",
            "settings": {
                "maxAge": 28800,
                "secure": false,
                "path": "/"
            }
        }
    },
    "errorTypes": {
        "allowed": [89, 90, 91, 73, 93, 36]
    },
    "errorTypeNames": {
        "93": "Z",
        "91": "C",
        "90": "B",
        "89": "A",
        "73": "K",
        "36": "W"       
    }
}