{
    "URLs": {
        "domain": "/api",
        "login": "operators/login",
        "clients": "clients",
        "tasks": "tasks",
        "operators": "operators",
        "representatives": "representatives"
    },
    "cookies": {
        "auth": {
            "name": "mamut_app_auth",
            "settings": {
                "maxAge": 28800,
                "secure": false,
                "path": "/"
            }
        }
    }
}