{
    "URLs": {
        "domain": "/api",
        "login": "operators/login",
        "clients": "clients",
        "tasks": "tasks",
        "operators": "operators",
        "representatives": "representatives",
        "services": "services",
        "representatives_clients": "representatives_clients"
    },
    "cookies": {
        "auth": {
            "name": "mamut_app_auth",
            "settings": {
                "maxAge": 28800,
                "secure": false,
                "path": "/"
            }
        }
    },
    "errorTypes": {
        "allowed": [89, 90, 91, 73, 93, 36]
    }
}