.reassign-task h2 {
    font-size: 1.2em;
    transform: translate(0, -50%);
    top: 40%;
    position: relative;
    color: #FFF;
}

.tasklist-task {
    position: relative;
}

.tasklist-task .picked label {
    color: rgb(12, 141, 0);
}

.task-episode {
    background-color: #427fda;
    border-radius: 3px;
    padding: 6px 6px;
}

.task-episode-description {
    background-color: #74a0e2;
    border-radius: 3px;
    padding: 6px;
}

.task-description-container {
    background-color: #dddf62;
    border-radius: 3px;
    padding: 6px 6px;
}

.task-appendices-container {
  background-color: #E6CB86;
  border-radius: 3px;
  padding: 6px 6px;
}

.task-appendices-container .card-columns {
  border: 2px solid rgba(0,0,0,.125);
  border-radius: .25rem;  
  margin-top: 8px;
  background-color: #EACF8A;
  padding: 8px 8px 0 0;
}

.task-appendices-container .card {
  background-color: #ECCF8C;
  margin-left: 8px;
}

.task-appendices-container .card-body {
  padding: 10px;
}

.btn-primary.appendices-add-button, .btn-primary.appendix-download-button, .btn-primary.appendix-remove-button {
  background: black;
  border-color: black;
  color: white;
  margin-left: 5px;
}

.btn-primary.appendices-add-button:hover, .btn-primary.appendix-download-button:hover, .btn-primary.appendix-remove-button:hover {
  background: white;
  border-color: black;
  color: black;
}

.task-appendices-container .clip-loader {
  margin-left: 5px;
}

.task-main-description {
    font-size: .8em;
    margin: 0 0 3px 20px;
    display: inline-block;
}

.travel-box {
    display: inline-block;
    max-width: 250px;
    text-align: left;
}

.travel-box.no-switch {
    padding-right: 56px;
}

.episode-create-button {
    margin-top: 5px;
}

.errorTypeRadios {
    font-weight: bold;
}

.errorTypeRadios .form-check-inline {
    margin-right: 6px;
}

.errorTypeRadios .form-check-inline.errorType-margin-right {
    margin-right: 20px;
}

.errorTypeRadios .form-check-input {
    margin-right: 1px;
}

.errorTypeRadios span {
    display: inline-block;
    top: -2px;
    position: relative;
}

.floating-buttons {
    position: absolute;
    top: -105px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.floating-buttons .btn {
    padding: 8px 16px;
}

.floating-buttons > * {
    display:inline-block;
    margin-right: 4px;
}

.btn-center.btn-await {
    font-size: 1.3em;
}

.floating-datepicker {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    padding: 20px;
    background-color: #fff;
    width: 60%;
    border: 1px solid #212529;
    border-radius: 6px;
}

@media (min-width: 768px) {
    .floating-datepicker {
        width: 660px;
    }
}

@media (max-width: 767px) {
    .floating-datepicker {
        width: 75%;
    }
}

@media (max-width: 575px) {
    .floating-datepicker {
        width: 98%;
    }
}

.datepicker-column > * {
    width: 100%;
}

.react-datepicker {
    width: 333px;
}

.task-preview {
    position: fixed;
    width: 90%;
    height: 90%;
    background-color: #FFF;
    border: 1px solid #212529;
    max-height: 525px;
    padding: 10px 20px;
    border-radius: 6px;
    z-index:9999;
    transform: translate(-50%, 0%);
    left: 50%;
    overflow-y: scroll;
}

.task-preview .task-preview-header {
    margin-top: 7px;
}

.task-preview .bottom-separator {
    padding-bottom: 10px;
}

.task-preview-details-row {
    padding-top: 15px;
    background-color:#FFF9EF;
    border: 2px dashed #E6CB86;
    padding-bottom: 15px;
    border-radius: 6px;
}

.task-preview-episode-row {
    background-color: #F0F0F0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.task-preview .tab-content {
  margin-top: 6px;
}

.tasks .card-body {
  padding: 5px;
}

.tasks .card-columns .card {
  margin-bottom: 10px;
}