{
  "uploadDir": "tasks-appendices",
  "compression": { 
    "uploadDir": "compressed",
    "sharp_to_format_jpeg": {
      "type": 1, 
      "quality": 60,
      "filenameSuffix":"sharp_to_format_jpeg"
    },
    "sharp_to_format_png": {
      "type": 2, 
      "quality": 60,
      "filenameSuffix":"sharp_to_format_png"
    }
  },
  "resize": {
    "maxDimension": 1024,
    "minDimension": 768
  },
  "archivisation": { 
    "uploadDir": "archived",
    "type": "zlib_gzip",
    "zlib_gzip": {
      "type": 3,
      "filenameSuffix":"zlib_gzip",
      "fileExt": "gz"
    },
    "zlib_brotli": {
      "type": 4,
      "filenameSuffix":"zlib_brotli",
      "fileExt": "br"
    }
  }
}