{
    "uploadDir": "tasks-appendices",
    "uploadCompressedSubDir": "compressed",    
    "imgCompressionTypeSharpToFormatJpeg": 1,
    "imgCompressionQualitySharpToFormatJpeg": 70,
    "imgCompressionTypeNameSuffixSharpToFormatJpeg":"sharp_to_format_jpeg",
    "imgCompressionTypeSharpToFormatPng": 2,
    "imgCompressionQualitySharpToFormatPng": 70,
    "imgCompressionTypeNameSuffixSharpToFormatPng":"sharp_to_format_png"
}