{
  "uploadDir": "tasks-appendices",
  "compression": { 
    "uploadDir": "compressed",
    "sharpToFormatJpeg": {
      "type": 1, 
      "quality": 60,
      "filenameSuffix":"sharp_to_format_jpeg"
    },
    "sharpToFormatPng": {
      "type": 2, 
      "quality": 60,
      "filenameSuffix":"sharp_to_format_png"
    }
  },
  "resize": {
    "maxDimension": 1024,
    "minDimension": 768
  },
  "archivisation": { 
    "uploadDir": "archived",      
    "zlibGzip": {
      "type": 3,
      "filenameSuffix":"zlib_gzip"
    }
  }
}