.representatives-search-box {
  margin-top: 60px;
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__row{
  display: flex;
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__column:nth-of-type(1),
.representatives-search-box .react-autosuggest__box .react-autosuggest__column:nth-of-type(2),
.representatives-search-box .react-autosuggest__box .react-autosuggest__column:nth-of-type(3) {
  display: inline-block;
  height: 40px;
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__column:nth-of-type(1) {
  width: 160px; 
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__column:nth-of-type(2) {
  width: calc(100% - 310px);
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__column:nth-of-type(3) {
  width: 150px;
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__input {
  background-color: #333;
  color: #fff;
  padding: 6px 12px 6px 12px;
  width: 100%;
  margin-top: -8px;
  margin-left: -8px;
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__suggestion {
  list-style-type: none;
  margin-left: -40px;
  margin-top: 10px;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  background: #333;
  color: #fff;
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__suggestion--highlighted {  
  background: #0069d9;
  cursor: pointer; 
}

.representatives-search-box .react-autosuggest__box .react-autosuggest__suggestion div {
  border: 1px #515151;
}

.representatives-search-box .react-autosuggest__task-count div {
  cursor: pointer;
}

.representatives-search-box .react-autosuggest__representative-creation-button button {
  margin-top: -6px;
}