{
    "URLs": {
        "domain": "/api",
        "login": "auth/login",
        "companyEmails": "company_emails",
        "fetchEmails": "fetch_emails",
        "automation" : "automation"
    },
    "cookies": {
        "auth": {
            "name": "mamut_app_parser_auth",
            "settings": {
                "maxAge": 28800,
                "secure": false,
                "path": "/"
            }
        }
    }
}