const cors = (req, res, next) => {
  res.setHeader('Access-Control-Allow-Methods', 'PUT, OPTIONS, GET, POST, DELETE');
  res.setHeader('Access-Control-Allow-Headers', 'Content-Type');
    res.setHeader('Access-Control-Allow-Credentials', 'true');

  let origin = req.get('origin');
  let allowedOrigins = ['/'];

  if(allowedOrigins.includes(origin)) {
    res.setHeader('Access-Control-Allow-Origin', origin);
  }

  next();
};

module.exports = cors;