h1 {
    font-size: 2em;
}

header {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px 15px;
    color: #fff;
    display: block;
}

nav ul li a.active {
    background-color: #fff;
    color: #333;
    border-color: #333;
    text-decoration: none;    
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
    text-decoration: none;
}

.form-group, label, .form-control {
    margin-bottom: 0;
}

.form-control {
    margin-bottom: 6px;
}

.border-box {
    position: relative;
    border: 1px solid #ccc;
    padding: 32px 8px 8px 8px;
    border-radius: 6px;
}

.border-box-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 8px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
}

.view-height {
    height: 100vh;
}

.vertical-middle {
    top: 50%;
    transform: translateY(-50%);
}

.vertical-middle-static {
    vertical-align: middle;
}

.btn-primary {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.btn-primary:disabled {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary:disabled:hover {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

.btn-inverted {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}

.btn-center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -10px;
    font-size: 2em;
    text-transform: uppercase;
    z-index: 9999;
    /* padding: 50px 30px; */
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.btn-center-container {
    padding-top: 50px;
}

.full-width {
    width: 100%;
}

.margin-top-default {
    margin-top: 6px;
}

.margin-bottom-default {
    margin-bottom: 6px;
}

.btn.large {
    padding: 50px 50px;
}

.description {
    font-size: 0.8em;
    color: #666;
}

.task-description {
    margin-top: 2px;
    margin-left: 4px;
}

.tasklist-task {
    padding: 5px 6px;
    border-radius: 3px;
}

.tasklist-task.awaiting {
    background-color: rgba(0, 0, 255, 0.1);
}

.tasklist-task.started {
    background-color: rgba(255, 0, 0, 0.1);
}

.tasklist-task.new {
    background-color: rgba(255, 255, 255, 0.1);
}

.no-margins {
    margin: 0 !important;
}

.bottom-pin {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    max-width: 1170px;
    display: block;
    margin: auto !important;
}

.bottom-pin .form-control, .bottom-pin .btn {
    margin-bottom: 0;
}

.bottom-pin-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #333;
    padding: 12px;
    min-height: 100px;
}

.page-container {
    padding-bottom: 250px;
}

/* .task-episode {
    background-color: #74a0e2;
    border-radius: 3px;
    padding: 6px 6px;
}

.task-episode-description {
    min-height: 100px;
    background-color: #74a0e2;
    border-radius: 3px;
    padding: 6px;
} */

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.small-padding-left {
    padding-left: 4px;
}

.position-right-middle {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 4px;
}

.btn-primary.small {
    font-size: 0.85em;
    padding: 2px;
}

.btn-primary.info {
    background-color: #2222FF;
    color: #FFF;
    border: 1px solid #2222FF;
    margin-right: 8px;
}

.btn-primary.info:hover {
    background-color: #FFF;
    color: #2222FF;
}


.btn-primary.circular {
    border-radius: 50%;
}

.btn-primary.small.circular {
    width: 27px;
    height: 27px;
    font-weight: bold;
}

.mamut-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    z-index: 9990;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #212529;
    max-height: 470px;
    overflow-y: scroll;
}

.margin-top-reduced {
    margin-top: -10px;
}

.close-button {
    font-weight: bold;
    display: inline-block;
    padding: 3px 7px;
    background-color: #212529;
    color: #FFF;
    line-height: .6;
    height: 28px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.6em;
    border: 1px solid #212529;
    cursor:pointer;
}

.close-button:hover {
    color: #212529;
    background-color: #FFF;   
}

.btn-close-menu {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #FFFFFF;
}

.btn-close-menu:hover {
    background-color: #FFFFFF;
    border-color: #FF0000;
    color: #FF0000;
}

.bottom-separator {
    border-bottom: 1px solid #212529;
}

span.initials {
    background-color: #2222FF;
    color: #FFF;
    line-height: 1;
    font-size: 0.9em;
    padding: 1px 4px 1px 4px;
    font-weight: bold;
    border-radius: 6px;
}