h1 {
    font-size: 2em;
}

header {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px 15px;
    color: #fff;
    display: block;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
    text-decoration: none;
}

.form-group, label, .form-control {
    margin-bottom: 0;
}

.form-control {
    margin-bottom: 6px;
}

.border-box {
    position: relative;
    border: 1px solid #ccc;
    padding: 32px 8px 8px 8px;
    border-radius: 6px;
}

.border-box-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 8px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
}

.view-height {
    height: 100vh;
}

.vertical-middle {
    top: 50%;
    transform: translateY(-50%);
}

.vertical-middle-static {
    vertical-align: middle;
}

.btn-primary {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.btn-primary:disabled {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary:disabled:hover {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

.btn-inverted {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}

.btn-center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -10px;
    font-size: 2em;
    text-transform: uppercase;
    z-index: 9999;
    /* padding: 50px 30px; */
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.btn-center-container {
    padding-top: 50px;
}

.full-width {
    width: 100%;
}

.margin-top-default {
    margin-top: 6px;
}

.margin-bottom-default {
    margin-bottom: 6px;
}

.btn.large {
    padding: 50px 50px;
}

.description {
    font-size: 0.8em;
    color: #666;
}

.task-description {
    margin-top: 2px;
    margin-left: 4px;
}

.tasklist-task {
    padding: 2px 6px;
    border-radius: 3px;
}

.tasklist-task.awaiting {
    background-color: rgba(0, 0, 255, 0.1);
}

.tasklist-task.started {
    background-color: rgba(255, 0, 0, 0.1);
}

.tasklist-task.new {
    background-color: rgba(255, 255, 255, 0.1);
}

.no-margins {
    margin: 0 !important;
}

.bottom-pin {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    max-width: 1170px;
    display: block;
    margin: auto !important;
}

.bottom-pin .form-control, .bottom-pin .btn {
    margin-bottom: 0;
}

.bottom-pin-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #333;
    padding: 12px;
    min-height: 100px;
}

.page-container {
    padding-bottom: 250px;
}

/* .task-episode {
    background-color: #74a0e2;
    border-radius: 3px;
    padding: 6px 6px;
}

.task-episode-description {
    min-height: 100px;
    background-color: #74a0e2;
    border-radius: 3px;
    padding: 6px;
} */